[Unit]
Description=Benga server by uWSGI
After=syslog.target

[Service]
ExecStart=/home/ubuntu/Benga/venv/bin/uwsgi --ini /etc/uwsgi/vassals/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardOutput=syslog
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
